body {
    margin: 0;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;

}

h1 {
    margin: 0;
}

p {
    margin: 0; 
}

div {
    background-color: #D0B8AC;
}

.top-cloud {
    position: absolute;
    top: 10%;
    right: 25%;
}

.bottom-cloud {
    position: absolute;
    top: 25%;
    left: 20%;
}


.jhe {
    text-decoration: line-through;
}